name: Python Hello World

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Install IronPython
      run: choco install ironpython --version=2.7.12

    - name: Run Python script
      run: ipy hello-github.py
